/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

.main {
  display: flex;
  height: 100vh;
}

.bg-sidebar-color {
  background-color: rgba(22, 22, 22, 1);
  font-weight: bold;
  font-size: 1.5em;
}

.btn {
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.164);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: purple;
  color: #fff;
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
  background-color: rgba(22, 22, 22, 1);
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar-button {
  margin-top: 20px;
  align-self: center;
  padding: 10px 20px; /* Adjust padding */
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar-item {
  padding: .75em 1em;
  display: flex;
  flex-direction: column; /* Adjusted to stack children below parents */
  transition: background-color .15s;
  border-radius: 5px;
}
/* 
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, .1);
} */

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  color: #fff;
}

.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform .3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}

.sidebar-content {
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: #ccc;
  text-decoration: none;
}

.sidebar-item.plain:hover {
  text-decoration: none;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

.sidebar-item div {
  margin-left: 26px;
  padding-top: 4px;
  border-top-style: solid;
  border-top-width: 0px;
}

/* Add the following styles for checkboxes */
.checkbox-container {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.checkbox-container input:checked + .checkmark:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



div.sidebar-item > div > div > div {
  padding-top: 0px;
  border-top-width: 0px;
  margin-top: -15px;
  margin-left: -12px;
  margin-right: -6px;
}

.sidebar-title {
  position: relative;
}

.title-divider {
  width: 250px; 
  height: 4px; 
  background-color: #ccc; 
  position: absolute;
  bottom: 0;
  left: -46px;
  margin: 0;
}


.card-text{
  color: rgb(47, 255, 99);
}

.card-title{
 font-weight: bold !important;;
}

.container h3{
  text-align: center;
}

.back-color {
  background-color: #ccc;
}
.card-body{
  background-color: #e7e7e7;

}

.scrollableContainer {
  max-height: calc(100vh - 40px); 
  width: 1000px;
  overflow-y: auto;
  padding: 10px;
  /* border: 1px solid #ddd; */
  background-color: rgba(255, 255, 255, 0.863)
}

.card{
  width: 600px;
  margin-bottom: 10px;
}